__pycache__
src/__pycache__
.pyc
src/data/**/processed
src/data/*
src/results/*
!src/data/uspto-full-distilled-weaklabel/
!src/data/uspto50k-split2-distilled-split/
!src/results/score.py
src/data/uspto-full-distilled-weaklabel/reaxys-distill-src.txt
src/data/uspto-full-distilled-weaklabel/reaxys-distill-tgt.txt
src/data/uspto-full-distilled-weaklabel/uspto-full-distill-src.txt
src/data/uspto-full-distilled-weaklabel/uspto-full-distill-tgt.txt
.vscode/
src/.ipynb_checkpoints/
src/lightning_logs/
nohup.out
